<div>
  <div class="button-container">
    <button ng-click="gameFormIsOpen = !gameFormIsOpen" ng-show="!gameFormIsOpen">Add a game to your cupboard</button>
    <button ng-click="importFormIsOpen = !importFormIsOpen" ng-show="!gameFormIsOpen">Import from BGG</button>
  </div>
  <form ng-show="gameFormIsOpen" ng-submit="addGame(); gameFormIsOpen = !gameFormIsOpen">
    <div>
      <input type="text" ng-model="title" placeholder="title"></input>
    </div>
    <div class="button-container">
      <button type="submit">Add</button>
    </div>
    <div class="button-container">
      <button type="button" ng-click="clearForm(); gameFormIsOpen = !gameFormIsOpen">Cancel</button>
    </div>
  </form>
  <form ng-show="importFormIsOpen" ng-submit="importCollection(); importFormIsOpen = !importFormIsOpen">
    <div>
      <input type="text" ng-model="bggUser" placeholder="BGG username"></input>
    </div>
    <div class="button-container">
      <button type="submit">Add</button>
    </div>
  </form>
</div>
<div ng-hide="isEmpty(games)">Your cupboard is bare!</div>
<div ng-repeat="game in games" class="card">
  <div class="title" ng-click="gameOpened = !gameOpened">{{ game.title }}<button class="show-detail-button" ng-show="!gameOpened">more</button><button class="show-detail-button" ng-show="gameOpened">less</button></div>
    <div class="game-details" ng-show="gameOpened">
      <div class="info-title">{{ game.min_players }} - {{ game.max_players }} players</div>
      <div class="info-container"><span class="info-title">Genres</span>
        <div ng-repeat="genre in game.genres">
          {{ genre.name }}
        </div>
      </div>
      <div class="info-container"><span class="info-title">Mechanics</span>
        <div ng-repeat="mechanic in game.mechanics">
          {{ mechanic.name }}
        </div>
      </div>
    </div>
</div>