<div>
  <div class="button-container">
    <button ng-click="formIsOpen = !formIsOpen" ng-show="!formIsOpen">Add a game to your cupboard</button>
  </div>
  <form ng-show="formIsOpen" ng-submit="addGame(); formIsOpen = !formIsOpen">
    <div>
      <input type="text" ng-model="title" placeholder="title"></input>
    </div>
    <div>
      <input type="text" ng-model="min_players" placeholder="min players"></input>
    </div>
    <div>
      <input type="text" ng-model="max_players" placeholder="max players"></input>
    </div>
    <div>
      <input type="text" ng-model="genre" placeholder="genres"></input>
    </div>
    <div>
      <input type="text" ng-model="mechanics" placeholder="mechanics"></input>
    </div>
    <div class="button-container">
      <button type="submit">Add</button>
    </div>
    <div class="button-container">
      <button type="button" ng-click="clearForm(); formIsOpen = !formIsOpen">Cancel</button>
    </div>
  </form>
</div>
<div ng-hide="isEmpty(games)">Your cupboard is bare!</div>
<div ng-repeat="game in games" class="card">
  <div>{{ game.title }}</div>
  <div>{{ game.min_players }} - {{ game.max_players }} players</div>
  <div>Genres:
    <div ng-repeat="genre in game.genres">
      {{ genre.name }}
    </div>
  </div>
  <div>Mechanics:
    <ul>
      <span ng-repeat="mechanic in game.mechanics">
        <li>{{ mechanic.name }}</li>
      </span>
    </ul>
  </div>
</div>